@use '../base/variables' as v;
@use '../base/mixins' as m;

body {
    @include m.mobile {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

.header {

    .log {

        @include m.mobile {
            padding: 2rem;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        &__logo {

            @include m.mobile {
                width: 10rem;
                display: flex;
                align-items: center;
            }
        }
    }
}

.nav {

    @include m.mobile {
        padding: 1% 0;
    }

    .navbottom {
        @include m.mobile {
            display: flex;
            align-items: center;
        }

        &__link {

            @include m.mobile {
                padding: 1rem;
                margin-top: 1rem;
            }
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &__icon {
            width: 2rem;
        }
    }
}

.container {
    
    .conhead {

        @include m.mobile {
            border-top: .3rem solid v.$turquoise;
        }
        
        &__img--dk {

            @include m.mobile {
                display: none;
            }
        }

        &__img--mb {

            @include m.mobile {
                width: 100%;
                height: auto;
            }
        }
    }

    .info {
        //background-color: red;

        @include m.mobile {
            border-radius: 2rem;
            position: relative;
            top: -3rem;
            background-color: white;
            padding-top: 2rem;
        }
    
        .prime {
            @include m.mobile {
                border: .2rem solid v.$purple;
                border-radius: 1rem;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }

            .primecon {

                @include m.mobile {
                    padding: 2rem;
                }

                &__tl {
                    @include m.mobile {
                        color: v.$purple;
                    }
                }
            }
        }
    }

    .chv {
        @include m.mobile {
            border-radius: 2rem;
            border: .2rem solid v.$gray;
            border-radius: 1rem;
            margin: auto 1.5rem;
        }

        .offer {

            .offercon {
                padding: 2rem;

                &__tl {
                    color: v.$title;

                    @include m.mobile {
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                }
            }

            .linkbot {

                @include m.mobile {
                    display: flex;
                    justify-content: center;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
                }

                &__bottom {
                    background-color: v.$purple;
                    color: white;
                    padding: 1rem 2rem;
                    border-radius: 3rem;
                    box-shadow: 0px 1px 4px 1px rgba(156, 102, 245, 0.5);
                }
            }
        }

        .minfo {
            @include m.mobile {
                padding: 0 2rem;
            }

            .km,
            .term {
                @include m.mobile {
                    padding: 2rem 0;
                }
            }

            .km {
                @include m.mobile {
                    border-top: .3rem solid v.$turquoise;
                    border-bottom: .1rem solid v.$gray;
                    display: flex;
                    justify-content: space-between;
                }

                &__icon {
                    @include m.mobile {
                        width: 2rem;
                        transform: rotate(-90deg);
                    }
                }
            }

            .term {
                @include m.mobile {
                    display: flex;
                    justify-content: space-between;
                }

                &__icon {
                    @include m.mobile {
                        width: 2rem;
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .sp {
            @include m.mobile {
                background-color: v.$bgsyprime;
                margin-bottom: 2rem;
            }

            &__txt {
                @include m.mobile {
                    padding: 3rem 2rem;
                }
            }
        }

        .imgfooter {

            &__img {
                @include m.mobile {
                    width: 100%;
                }
            }
        }
    }
}

