@use '../base/variables' as v;
@use '../base/mixins' as m;

body {
    @include m.mobile {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    @include m.desktop {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    
    .span {
        font-weight: bold;
    }
}

.header {

    .log {

        @include m.mobile {
            padding: 2rem;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        &__logo {

            @include m.mobile {
                width: 10rem;
                display: flex;
                align-items: center;
            }

            @include m.desktop {
                display: none;
            }
        }
    }
}

.nav {

    @include m.mobile {
        padding: 1rem 0;
    }
    
    @include m.desktop {
        padding: 1rem 0;
    }

    .navbottom {
        @include m.mobile {
            display: flex;
            align-items: center;
        }

        @include m.desktop {
            display: flex;
            align-items: center;
        }

        &__link {

            @include m.mobile {
                padding: 1rem;
                margin-top: .5rem;
            }

            @include m.desktop {
                padding: 2rem;
                margin-top: .5rem;
            }
        }

        &__icon {
            width: 2rem;
        }
    }
}

.container {
    @include m.desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .conhead {

        @include m.mobile {
            border-top: .3rem solid v.$turquoise;
        }

        @include m.desktop {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
        }
        
        &__img--dk {

            @include m.mobile {
                display: none;
            }

            @include m.desktop {
                width: 100%;
                height: auto;
                border-top-right-radius: 2rem;
                border-top-left-radius: 2rem;
                border-bottom: v.$turquoise solid 1rem;
            }
        }

        &__img--mb {

            @include m.mobile {
                width: 100%;
                height: auto;
            }

            @include m.desktop {
                width: 100%;
                height: auto;
                display: none;
            }
        }
    }

    .info {

        @include m.mobile {
            border-radius: 2rem;
            position: relative;
            top: -3rem;
            background-color: white;
            padding-top: 2rem;
        }

        @include m.desktop {
            width: 70%;
        }
    
        .prime {
            @include m.mobile {
                border: .2rem solid v.$purple;
                border-radius: 1rem;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }

            @include m.desktop {
                display: flex;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                border: .2rem solid v.$purple;
                border-top: 0;
                overflow: hidden;
            }

            &__img {
                @include m.mobile {
                    display: none;
                }

                @include m.desktop {
                    width: 10rem;
                    height: 100%;
                }
            }

            .primecon {

                @include m.mobile {
                    padding: 2rem;
                }

                @include m.desktop {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 1rem;
                }

                &__tl {
                    @include m.mobile {
                        color: v.$purple;
                    }

                    @include m.desktop {
                        color: v.$purple;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .chv {
        @include m.mobile {
            border-radius: 2rem;
            border: .2rem solid v.$gray;
            border-radius: 1rem;
            margin: auto 1.5rem;
            margin-bottom: 4rem;
            overflow: hidden;
        }

        @include m.desktop {
            @include m.grid(3, 0);
            width: 70%;
            border: .1rem solid v.$gray;
            border-radius: 1rem;
            margin-top: 2rem;
            overflow: hidden;
            margin-bottom: 4rem;
        }

        .offer {
            @include m.desktop {
                grid-column: 1 / 3;

            }

            .offercon {
                @include m.mobile {
                    padding: 2rem;
                }

                @include m.desktop {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 2rem;
                    margin-left: 8rem;
                }

                &__tl {
                    color: v.$title;

                    @include m.mobile {
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                }

                &__txt {
                    @include m.desktop {
                        font-size: 1.6rem;
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }
            }

            .linkbot {

                @include m.mobile {
                    display: flex;
                    justify-content: center;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
                }

                @include m.desktop {
                    display: flex;
                    justify-content: center;
                }

                &__bottom {
                    background-color: v.$purple;
                    color: white;
                    padding: 1rem 2rem;
                    border-radius: 3rem;
                    box-shadow: 0px 1px 4px 1px rgba(156, 102, 245, 0.5);
                }
            }
        }

        .minfo {
            @include m.mobile {
                padding: 0 2rem;
            }

            @include m.desktop {
                grid-column: 1 / 3;
                grid-row: 3 / 4;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-top: 2rem;
                padding-bottom: 2rem;
                border-top: .3rem solid v.$turquoise;
                margin-left: 4rem;
            }

            .km,
            .term {
                @include m.mobile {
                    padding: 2rem 0;
                }
            }

            .km {
                @include m.mobile {
                    border-top: .3rem solid v.$turquoise;
                    border-bottom: .1rem solid v.$gray;
                    display: flex;
                    justify-content: space-between;
                }

                &__icon {
                    @include m.mobile {
                        width: 2rem;
                        transform: rotate(-90deg);
                    }

                    @include m.desktop {
                        display: none;
                    }
                }
            }

            .term {
                @include m.mobile {
                    display: flex;
                    justify-content: space-between;
                }

                &__icon {
                    @include m.mobile {
                        width: 2rem;
                        transform: rotate(90deg);
                    }

                    @include m.desktop {
                        display: none;
                    }
                }
            }
        }

        .sp {
            @include m.mobile {
                background-color: v.$bgsyprime;
                margin-bottom: 2rem;
            }

            @include m.desktop {
                grid-column: 1 / 4;
                grid-row: 4;
                background-color: v.$bgsyprime;
                padding: 3rem 8rem;
            }

            &__txt {
                @include m.mobile {
                    padding: 3rem 2rem;
                }

                @include m.desktop {
                    font-size: 1.5rem;
                }
            }
        }

        .imgfooter {
            @include m.mobile {
                display: flex;
                overflow: hidden;
            }

            @include m.desktop {
                grid-column: 3 / 4;
                grid-row: 1 / 4;
            }

            &__img {
                @include m.mobile {
                    width: 100%;
                }

                @include m.desktop {
                    display: none;
                }
            }

            .imgfooterdk {
                @include m.desktop {
                    display: flex;
                    justify-content: flex-end;
                }

                &__img--desktop {
                    @include m.mobile {
                        display: none;
                    }

                    @include m.desktop {
                        width: 30rem;
                    }
                }
            }
        }
    }
}

